<!DOCTYPE html>
<html>
  <head>
    <title>AirKong</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
  </head>

  <body>

  <%= render 'shared/navbar' %>
  <%= render 'shared/message' %>

  <% if current_user %>
    <input type="hidden" id="user_id" value="<%= current_user.id %>">
  <% end %>

  

  <div  class="container"> 
      <%= yield %>

  </div>

    
  </body>
</html>
